@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    font-size: 10px;

    --dark-color: #171717;
    --color-hover: #dcdcdc8a;
    --color-profile: #e8e878;
    --color-special: #4285f4;
    --light-color: #F2F2F2;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-color)
}